.game-board {
    width: 400px;
    margin: 40px auto;
    border: 1px solid #ccc;
  }
  
  #game-grid {
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
  }
  
  .snake-part {
    background-color: #333;
    border: 1px solid #ccc;
  }
  
  .food {
    background-color: #f00;
    border: 1px solid #ccc;
  }